<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{title}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body id="top">
    <div class="header-container">
        <header class="wrapper clearfix">
            <img src="images/logo.png" width="176" height="144" />
            <h1 class="title">atoum's documentation</h1>
        </header>
    </div>

    <div class="main-container">
        <div class="main wrapper clearfix">
            <article id="page">
                <header>
                    <div class="next">
                        {next}
                    </div>
                    <div class="previous">
                        {previous}
                    </div>
                </header>

                {page}

                <footer>
                    <div class="next">
                        {next}
                    </div>
                    <div class="previous">
                        {previous}
                    </div>
                </footer>
            </article>

            <aside id="toc">
                {toc}
            </aside>
        </div> <!-- #main -->
    </div> <!-- #main-container -->

    <div class="footer-container">
        <footer class="wrapper">
            Something is wrong in the documentation ?
            Help us fix this by
            <a href="https://github.com/atoum/atoum-documentation/issues" target="_blank">
                reporting errors and problems !
            </a>
        </footer>
    </div>


    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>